<app-header titulo="Card"></app-header>

<ion-content class="ion-padding">
  <ion-card color="primary" mode="ios">
    <ion-card-header>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item color="primary">
        <ion-icon color="light" slot="start" name="pin"></ion-icon>
        <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea ad repellendus saepe eum! Debitis expedita ab architecto veritatis! Porro asperiores facere, quam possimus ratione sequi. Maiores quia aperiam illum ut.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-content>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi, obcaecati praesentium! In eveniet itaque alias praesentium reprehenderit harum facere doloribus consequatur quas amet! Ipsam molestias dolorem nisi modi! Ut, non!
    </ion-card-content>
  </ion-card>
</ion-content>
